<section class="col-md-10 offset-md-1">
    <p class="lead">
        Please fill the form.
    </p>
    <form name="applicationForm" [formGroup]="form" *ngIf="form != null">
        <div class="form-control">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" #name/>
            <div class="text-danger">
                {{getValidationMessages('name')}}
            </div>
        </div>
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email"/>
            <div class="text-danger">
                {{getValidationMessages('email')}}
            </div>
        </div>
        <div class="form-control">
            <label for="birthday">Birthday:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="birthday" name="birthday" ngbDatepicker
                       #d="ngbDatepicker" formControlName="birthday">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </div>
            </div>
            <div class="text-danger">
                {{getValidationMessages('birthday')}}
            </div>
        </div>
        <div class="form-control">
            <label for="occupation">Occupation:</label>
            <input type="text" id="occupation" class="form-control" [ngbTypeahead]="search" name="occupation" formControlName="occupation"
                   editable="false"/>
            <div class="text-danger">
                {{getValidationMessages('occupation')}}
            </div>
        </div>
        <div class="row form-submit">
            <Button class="btn btn-primary" [disabled]="form.invalid">
                Submit
            </Button>
        </div>
    </form>

    <ngb-alert [dismissible]="false" *ngIf="form == null" type="danger">
        <strong>Error!</strong> Our server seems to be offline. Please check back later.
    </ngb-alert>

</section>
