<section class="col-md-10 offset-md-1">
    <form name="applicationForm" [formGroup]="form" *ngIf="form != null" (ngSubmit)="onFormSubmit($event)">
        <p class="lead">
            Please fill the form.
        </p>
        <div class="form-control">
            <label for="name">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Please provide your full name as it appears in your passport."/>
                Name:
            </label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name"/>
            <my-validationmessage [control]="form.controls['name']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="email">
                <img src="img/question.svg" class="icon" placement="top"
                     ngbTooltip="Please enter an email address where we can contact you."/>
                E-mail:
            </label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email"/>
            <my-validationmessage [control]="form.controls['email']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="birthday">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Note that, you must be older than 18 years old."/>
                Birthday:
            </label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="birthday" name="birthday" ngbDatepicker
                       #d="ngbDatepicker" formControlName="birthday">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="img/calendar.svg" class="icon"/>
                </div>
            </div>
            <my-validationmessage [control]="form.controls['birthday']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="occupation">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Please enter your target job."/>
                Occupation:
            </label>
            <input type="text" id="occupation" class="form-control" [ngbTypeahead]="search" name="occupation"
                   formControlName="occupation"
                   [inputFormatter]="occupationFormatter" [resultFormatter]="occupationFormatter"
                   [editable]="false" (blur)="clearOccupationIfEmpty($event)"/>
            <my-validationmessage [control]="form.controls['occupation']">
            </my-validationmessage>
        </div>
        <div class="row form-submit">
            <Button class="btn btn-primary" [disabled]="form.invalid" type="submit">
                Submit
            </Button>
        </div>
    </form>

    <ngb-alert [dismissible]="false" *ngIf="form == null" type="danger">
        <strong>Error!</strong> Our server seems to be offline. Please check back later.
    </ngb-alert>

</section>
