<section class="col-md-10 offset-md-1">
    <form name="applicationForm" [formGroup]="form" *ngIf="form != null">
        <p class="lead">
            Please fill the form.
        </p>
        <div class="form-control">
            <label for="name">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Your full name, eg. John Doe"/>
                Name:
            </label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" />
            <my-validationmessage [control]="form.controls['name']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="email">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Your e-mail address, which you check regularly"/>
                E-mail:
            </label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email"/>
            <my-validationmessage [control]="form.controls['email']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="birthday">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Your birthday"/>
                Birthday:
            </label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="birthday" name="birthday" ngbDatepicker
                       #d="ngbDatepicker" formControlName="birthday">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="img/calendar.svg" class="icon"/>
                </div>
            </div>
            <my-validationmessage [control]="form.controls['birthday']">
            </my-validationmessage>
        </div>
        <div class="form-control">
            <label for="occupation">
                <img src="img/question.svg" class="icon" placement="top" ngbTooltip="Your occupation"/>
                Occupation:
            </label>
            <input type="text" id="occupation" class="form-control" [ngbTypeahead]="search" name="occupation" formControlName="occupation"
                   editable="false"/>
            <my-validationmessage [control]="form.controls['occupation']">
            </my-validationmessage>
        </div>
        <div class="row form-submit">
            <Button class="btn btn-primary" [disabled]="form.invalid">
                Submit
            </Button>
        </div>
    </form>

    <ngb-alert [dismissible]="false" *ngIf="form == null" type="danger">
        <strong>Error!</strong> Our server seems to be offline. Please check back later.
    </ngb-alert>

</section>
